<div class="career">
  <div class="container">
    <div class="career__texts">
      <div class="career__texts--top">
        <h4>Let’s build great things together</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient. Lorem ipsum dolor stit amet.
        </p>
      </div>
      <div class="career__texts--bottom">
        <div class="career__texts--item">
          <h5 class="color-green">785</h5>
          <p>Project Completed</p>
        </div>
        <div class="career__texts--item">
          <h5 class="color-blue">623</h5>
          <p>Coffees Consumed</p>
        </div>
        <div class="career__texts--item">
          <h5 class="color-yellow">519</h5>
          <p>Happy Customers</p>
        </div>
        <div class="career__texts--item">
          <h5 class="color-red">246</h5>
          <p>Lines of Codes</p>
        </div>
      </div>
    </div>
    <div class="career__img">
      <img src="../../../../assets/images/body/careers/man.png" alt="Man" />
    </div>
  </div>
</div>
