<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="footer__logo">
          <img src="../../../assets/images/footer/logo.png" alt="Logo" />
          <h4>firefly</h4>
        </div>
        <p>
          Just then her head struck against the roof of the hall: in fact she
          was now more than nine feet high, and she at once took up the little
          golden key and hurried off to the garden door.
        </p>
        <div class="footer__privacy">
          <span>Privacy Policy</span>
          <span>Terms and Conditions</span>
        </div>
        <p class="footer__copyright">Copyright © 2016 ThemeXpert</p>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="footer__title">Categories</div>
        <ul class="footer__lists">
          <li>Home</li>
          <li>Testimonials</li>
          <li>Team</li>
          <li>Career</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="footer__title">Community</div>
        <ul class="footer__lists">
          <li>Blog</li>
          <li>Discussion</li>
          <li>Collections</li>
          <li>Members</li>
          <li>Products</li>
          <li>Help center</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer__title">Follow us</div>
        <div class="footer__social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-tumblr"></i>
        </div>
      </div>
    </div>
  </div>
</div>
