.navbar {
  width: 100%;
  padding: 0;
  display: block;
  box-shadow: 0px 10px 10px #f4f4f4;
  position: fixed;
  z-index: 1000;
  background-color: rgba($color: #ffff, $alpha: 0.9);

  &__top {
    border-bottom: 1px solid #e5e5e5;
  }

  &__bottom {
    line-height: 7em;
    @media screen and (max-width: 925px) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    gap: 2.5rem;

    i {
      font-size: 1.4rem;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__hotline {
    display: flex;
    span {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;

      &:nth-of-type(1) {
        font-weight: 400;
        margin-right: 0.75em;
        color: #303842;
      }
      &:nth-of-type(2) {
        font-weight: 300;
        color: #6b7c93;
      }
    }
  }

  &__logo {
    display: flex;
    gap: 0.7em;
    align-items: center;
    h3 {
      font-size: 2.6rem;
      font-weight: 300;
      color: #303842;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-right: 4.6em;
    li {
      display: block;
      width: 7rem;
      text-align: center;
      &:not(:last-child) {
        margin-right: 2.4em;
      }
      a {
        font-family: "Roboto", sans-serif;
        font-size: 1.1rem;
        color: #45505e;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

.active {
  border-top: 1px solid #4caf50;
}

.container {
  width: 80%;
  max-width: 117rem;
  @media screen and (max-width: 924px) {
    justify-content: center;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 4em;

    @media screen and(max-width:500px) {
      flex-direction: column;
      padding-top: 1rem;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 7em;
  }
}

.navbar__bottom--mobile {
  @media screen and (min-width: 925px) {
    display: none;
  }

  position: relative;
  padding: 15px 0;

  .navbar__menu {
    position: absolute;
    top: 100%;
    right: 0;
    height: auto;
    width: 100%;
    background-color: white;
    margin-right: 0;
    box-shadow: 0px 2px 10px 10px #f4f4f4;
    padding: 3rem 0;
    li {
      width: 100%;
      margin: 0;
      a {
        font-family: "Roboto", sans-serif;
        font-size: 1.8rem;
        color: #45505e;
        text-decoration: none;
        font-weight: 400;
      }

      &:hover {
        a {
          color: white !important;
        }

        background-color: #4caf50;
      }
    }
    .closed {
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
      i {
        font-size: 2rem;
      }
    }
  }

  .navbar__square {
    cursor: pointer;
  }
}

// .open {
//   top: 200px;
// }

.close {
  display: none;
}

// Toggle menu
.toggle-menu {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  float: right;
  z-index: 1000;
}

.toggle-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: #45505e;

  right: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.toggle-menu i:nth-child(1) {
  width: 17px;
  top: 16px;
}

.toggle-menu i:nth-child(2) {
  width: 13px;
  top: 24px;
}

.toggle-menu i:nth-child(3) {
  width: 20px;
  top: 32px;
}
.toggle-menu.active1 i:nth-child(1) {
  width: 30px;
  top: 25px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.toggle-menu.active1 i:nth-child(2) {
  background: transparent;
}

.toggle-menu.active1 i:nth-child(3) {
  width: 30px;
  top: 25px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
