<div class="service">
  <div class="container">
    <figure class="service__img">
      <img
        src="../../../../assets/images/body/service/laptop.png"
        alt="Laptop"
      />
    </figure>
    <div class="service__texts">
      <div class="service__texts--top">
        <h4>Our Services & Special Fields</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes.
        </p>
      </div>
      <div class="service__texts--bottom">
        <div class="service__texts--item">
          <div class="service__left">
            <i class="fas fa-biking"></i>
          </div>
          <div class="service__right">
            <h5>Discovery & Strategy</h5>
            <p>
              Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </div>
        </div>
        <div class="service__texts--item">
          <div class="service__left">
            <i class="far fa-lightbulb"></i>
          </div>
          <div class="service__right">
            <h5>MANAGE PROJECTS</h5>
            <p>
              Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </div>
        </div>
        <div class="service__texts--item">
          <div class="service__left">
            <i class="fas fa-paperclip"></i>
          </div>
          <div class="service__right">
            <h5>TEAM STATISTICS</h5>
            <p>
              Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </div>
        </div>
        <div class="service__texts--item">
          <div class="service__left">
            <i class="far fa-check-square"></i>
          </div>
          <div class="service__right">
            <h5>UNLIMTED SHARING</h5>
            <p>
              Lorem ipsum dolor ipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
