.header {
  background-image: url(../assets/images/header/object.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // min-height: 100vh;
  // border-bottom: 1px solid #e5e5e5;
  // @media screen and (max-width: 769px) {
  //   height: auto;
  // }
}
