<div class="contact">
  <div class="container">
    <div class="contact__texts">
      <h4>Contact Us</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
      </p>
    </div>
    <form class="contact__form">
      <div class="contact__form--email">
        <label for="contact__email">EMAIL ADDRESS</label>
        <input type="email" id="contact__email" />
      </div>
      <div class="contact__form--firstname">
        <label for="contact__firstname">FIRST NAME</label>
        <input type="text" id="contact__firstname" />
      </div>
      <div class="contact__form--lastname">
        <label for="contact__lastname">LAST NAME</label>
        <input type="text" id="contact__lastname" />
      </div>
      <div class="contact__form--message">
        <label for="contact__message">MESSAGE</label>
        <textarea id="contact__message" cols="30" rows="10"></textarea>
      </div>
      <button class="btn btn__contact">Send now</button>
    </form>
  </div>
</div>
<div class="dump"></div>
